* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
  }
 
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color:  #fbfcfc ;
    z-index: 100;
    }
  
  .navbar .logo a {
    height: 50px;
    text-decoration: none;
    color:  #17202a ;
   
  }

  .logo-text {
   color:  #17202a;
  }
  
  .logo-text .dB {
    color: #e8491d; 
  }


.nav-links{
  display: flex;
  list-style: none; 
  gap: 35px;
  padding: 0 0.7vw;
 
  align-items: center;
 
 
}
.nav-links li a{
  text-decoration: none;
  margin: 0 0.7vw;

  color:  #17202a ;
}
.nav-links li a:hover {
  color:  #17202a ;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color:  #17202a ;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
  
}
.nav-links li a:hover::before{
  width: 80%;
}
  /* Hamburger Menu */
.hamburger {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
    
  }
  
  .hamburger span {
    width: 100%;
    height: 4px;
    background:  #17202a ;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
.hamburger.active span:nth-child(1){
  transform: rotate(45deg) translate(5px,5px);
}
.hamburger.active span:nth-child(2){
  opacity: 0;
}
.hamburger.active span:nth-child(3){
  transform: rotate(-45deg) translate(5px,-5px);
}




/* Responsive Design */
  @media (max-width: 768px) {
  
  
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 30px;
      background: rgba(13, 13, 13, 0.9);
      padding: 20px;
      border-radius: 10px;
      width: 50%;
     
     
    }
   
    .nav-links.active {
        display: flex;
      }
    
      .hamburger {
        display: flex;
      }
      
    }
    

   

   
    
    

   
 
