* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
  }
 
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
   /* background: linear-gradient( 180deg ,#00aaff,#0d0d0d);*/
   background-color:  #fbfcfc ;
    

    z-index: 100;
    
  
  }
  
  .navbar .logo a {
    height: 50px;
    text-decoration: none;
    color: black;
   
  }

  .logo-text {
   color: black;
  }
  
  .logo-text .dB {
    color: #e8491d; 
  }


.nav-links{
  display: flex;
  list-style: none; 
  gap: 35px;
  padding: 0 0.7vw;
 
  align-items: center;
 
 
}
.nav-links li a{
  text-decoration: none;
  margin: 0 0.7vw;
  /*color: white;*/
  color: black;
}
.nav-links li a:hover {
  color: #61DAFB;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61DAFB;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
  
}
.nav-links li a:hover::before{
  width: 80%;
}
  /* Hamburger Menu */
.hamburger {
    display: none;
    
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    
  }
  
  .hamburger span {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 2px;
  }

/* Responsive Design */
  @media (max-width: 768px) {
  
  
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 30px;
      background: rgba(13, 13, 13, 0.9);
      padding: 20px;
      border-radius: 10px;
      width: 50%;
     
     
    }
   
    .nav-links.active {
        display: flex;
      }
    
      .hamburger {
        display: flex;
      }
      
    }
    

   

   
    
    

   
 
